{% load static %}
<link rel = "stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<html>
    <head>
        <title>
            Note Form
        </title>
    </head>
    <body>
        <nav class="bg-white sticky top-0 shadow">
            <div class="mx-auto flex items-center p-2">
              <div class=" text-4xl lg:text-3xl ">
                <h2 class="p-4 font-serif border-r-2 border-black">Message Board</h2>
              </div>
              <div class="transition duration-300 bg-white hover:bg-green-100 hover:bg-green-100 p-2 m-2">
                <a href="http://127.0.0.1:8000/lab-4" class="item-center">Back to list</a>
              </div>
            </div>
          </nav>

        <div class="mx-auto p-4 max-w-xl">
            <table>
              <form action="" method="POST" class="p-4">
                {% csrf_token %}
                {{ form }}
                <input type="submit" class="mx-auto m-4 p-2 text-green-700 font-3xl bg-green-100 cursor-pointer transition duration-300 hover:bg-green-300"/>
              </form>
            </table>
        </div>
    </body>
</html>
