<!DOCTYPE html>
<html>
    <head>
        <title>
            Friend Form
        </title>
    </head>
    <body>
        <div class="container">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit"/>
            </form>
        </div>
    </body>
</html>
